.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header__logo";
  grid-area: header;
  height: 200px;
}
.header__logo {
  grid-area: header__logo;
  padding-top: 45px;
  margin-left: 127px;
}
.header__division {
  width: 80%;
  max-width: 880px;
  position: absolute;
  top: 124px;
  left: 209px;
}
/* M E D I A     Q U E R I E S 320PX */
@media screen and (min-width: 320px) and (max-width: 520px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header__logo";
    grid-area: header;
  }
  .header__logo {
    grid-area: header__logo;
    padding-top: 15px;
    margin-left: 6px;
  }
  .header__division {
    width: 100%;
    max-width: 880px;
    position: relative;
    top: -90px;
    left: 1px;
  }
}
@media screen and (min-width: 521px) and (max-width: 820px) {
  .header__logo {
    grid-area: header__logo;
    padding-top: 15px;
    margin-left: 6px;
  }
  .header__division {
    width: 100%;
    max-width: 880px;
    position: relative;
    top: -124px;
    left: 1px;
  }
}
@media screen and (min-width: 821px) and (max-width: 1280px) {
  .header__logo {
    grid-area: header__logo;
    padding-top: 15px;
    margin-left: 105px;
  }
  .header__division {
    width: 100%;
    max-width: 880px;
    position: relative;
    top: -90px;
    left: 1px;
  }
}