/* I N I C I A   S E C C I O N   P R O F I L E  */

.profile {
  color: #ffffff;
  align-items: center;
  display: grid;
  /* Primer van las filas y despues las columnas */
  grid-template: 0.5fr/ 0.7fr 1.3fr 1fr;
  grid-template-areas: "profile__avatar profile__info profile__button-add";
  grid-area: profile;
  justify-content: space-around;
}
/* imagen profile */
.profile__avatar {
  grid-area: profile__avatar;

  max-width: 120px;
  min-height: 120px;
  margin-left: 117px;
}
.profile__info {
  grid-area: profile__info;
  justify-items: center;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__info-name {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
}
.profile__button-edit {
  position: relative;
  left: 390px;
  top: 78px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url(../images/edition.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.profile__button-edit:hover {
  border: 1px solid #ffffff57;
}
.profile__button-add {
  grid-area: profile__button-add;
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2.5px solid #fff;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  justify-self: center;
}
.profile__button-add:hover {
  border: 2.5px solid #ffffff57;
  cursor: pointer;
}

/* I N I C I A   S E C C I O N   E L E M E N T _ _ C A R D S  */

.cards {
  grid-area: cards;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__trash {
  width: 18px;
  height: 19.3px;
  border: none;
  position: relative;
  top: -348px;
  left: 233px;
  cursor: pointer;
}
.card__img {
  max-width: 282px;
  min-height: 282px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}
.card__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  padding-left: 15px;
}
.card__like {
  width: 20.76px;
  height: 18.13px;
  position: relative;
  top: -45px;
  left: 252px;
  border: none;
}
.card__like:hover {
  color: #ffffff57;
  cursor: pointer;
}
/* Clase cuando se active el me gusta */
.card__like-active {
  opacity: 1;
  background: url(../images/heart_black.svg) center no-repeat;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* M E D I A S   Q U E R I E S 320PX */
@media screen and (min-width: 320px) and (max-width: 520px) {
  /* I N I C I A   S E C C I O N     P R O F I L E */
  .profile {
    display: grid;
    grid-template: repeat(3, 1.28fr) / 1fr;
    grid-template-areas:
      "profile__avatar"
      "profile__info"
      "profile__button-add";
    grid-area: profile;
    justify-content: center;
  }
  .profile__avatar {
    grid-area: profile__avatar;
    margin: auto;
  }
  .profile__info {
    grid-area: profile__info;
    justify-items: center;
    text-align: center;
  }

  .profile__button-edit {
    grid-area: profile__button-edit;
    position: relative;
    left: 100px;
    top: 78px;
  }
  .profile__button-add {
    grid-area: profile__button-add;
    width: 100%;
    height: 50px;
    background-color: #000;
    border: 2.5px solid #fff;
    background: url(../images/plus.svg) center no-repeat;
  }

  /* I N I C I A   S E C C I O N   E L E M E N T _ _ C A R D S  */

  .cards {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 520px) {
  /* I N I C I A   S E C C I O N     P R O F I L E */
  .profile__button-edit {
    grid-area: profile__button-edit;
    position: relative;
    left: 72px;
    top: 134px;
  }
}

@media only screen and (min-width: 521px) and (max-width: 820px) {
  /* I N I C I A   S E C C I O N     P R O F I L E */
  .profile__button-edit {
    grid-area: profile__button-edit;
    position: relative;
    left: 72px;
    top: 137px;
  }
  .profile__button-add {
    grid-area: profile__button-add;
    width: 94%;
    height: 50px;
    background-color: #000;
    border: 2.5px solid #fff;
    background: url(../images/plus.svg) center no-repeat;
  }
}

@media only screen and (min-width: 1280px) {
  /* I N I C I A   S E C C I O N     P R O F I L E */
  .profile {
    color: #ffffff;
    align-items: center;
    display: grid;
    /* Primer van las filas y despues las columnas */
    grid-template: 0.5fr/ 0.7fr 1.3fr 1fr;
    grid-template-areas: "profile__avatar profile__info profile__button-add";
    grid-area: profile;
    justify-content: space-around;
  }
  .profile__avatar {
    max-width: 120px;
    min-height: 120px;
    margin-left: 117px;
  }
  .profile__info {
    grid-area: profile__info;
    justify-items: center;
  }
  .profile__button-edit {
    position: relative;
    left: 370px;
    top: 78px;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-color: #000;
    background-image: url(../images/edition.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .profile__button-add {
    grid-area: profile__button-add;
    width: 150px;
    height: 50px;
    background-color: #000;
    border: 2.5px solid #fff;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
  }
}
